* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'SUSE', sans-serif;
  }

img {
    max-width: 100%;
}

.container {
    max-width: 100%;
}

.page-header {
    background-color: #136aa6;
}

.page-nav {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
}

.page-nav__item {
    margin-left: 15px;
    color: aqua;
    font-family: ;
}