* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'SUSE', sans-serif;
    background-color: #FFF7F7;
  }

img {
    max-width: 100%;
}

.container {
    max-width: 100%;
}

.page-header {
    background-color: #C68FE6;
}

.page-nav {
    display: flex;
    padding: 10px;
}

.page-nav__item {
    margin-left: 15px;
    color: aqua;
    background-color: #1230AE;
    padding: 5px;
    border-radius: 4px;
}

/* .main-content section{
    align-items: center;
    justify-content: center;
}

.main-content__form{
   
} */

.main-content section {
    margin-top: -30px;
    display: flex;
    flex-direction: column; /* Asegura que los elementos dentro del section se apilen verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    min-height: 100vh; /* Hace que la sección ocupe toda la altura de la pantalla */
}

.main-content__form {
    display: flex;
    flex-direction: column; /* Asegura que los elementos del formulario se alineen en columna */
    width: 100%; /* Ocupa el ancho disponible */
    max-width: 600px; /* Limita el ancho máximo del formulario */
    padding: 20px; /* Añade espacio interior */
    background-color: #f9f9f9; /* Fondo para el formulario */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgb(18, 48, 174) /* Sombra suave para el formulario */
}

.main-content h2{
   text-align: center;
   margin-bottom: 20px;
   display: block;
 }

 #header-logo {
    width: 30px
 }