* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "SUSE", sans-serif;
  background-color: #f5efff;
}

img {
  max-width: 100%;
}

.container {
  max-width: 100%;
}

.page-header {
  background-color: #a594f9;
}

.page-nav {
  display: flex;
  padding: 10px;
}

.page-nav__item {
  background-color: #1230ae;
  padding: 5px;
  border-radius: 4px;
  margin-left: 15px;
}

.page-nav__item a {
  color: aqua;
}

.main-content section {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main-content__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(18, 48, 174);
}

.main-content h2 {
  text-align: center;
  margin-bottom: 20px;
  display: block;
}

#header-logo {
  width: 30px;
}
